.footer_outer_container{
    background-color: #111;
    color: gray;
    display: flex;
    justify-content: center;
}
.footer_inner_container{
    width: 60%;
    /* background-color: red; */
}
.footer_icones{
    /* background-color: blue; */
    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
}
.footer_data{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    height: 12vh;
  padding-bottom: 80px;
    /* background-color: blue; */
}
.footer_data ul{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 12vh;  
}
.footer_data ul li{
    cursor: pointer;
      list-style: none;
}
.Service_code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 10%;
    margin: 10px 0;
    cursor: pointer;
}
.copy_write{
    font-size: 12px;
    margin-bottom: 10px;
}